* {
  background-color: #fff6d6;
}

.logoapp {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  width: 10%;
}

.titleQuestion {
  text-align: center;
  font-family: "Fredoka One";
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 44px;
}

.products {
  justify-content: center;
  align-items: center;

  max-width: 700px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.ingredient {
  position: relative;
  border: 1px solid gray;
  margin: 10px;
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
  border-radius: 16px;
}

.ingredient:hover {
  border: 2px solid rgba(77, 3, 2, 0.24);
}

.checked {
  position: absolute;
  width: 23px;
  height: 23px;
  left: 125px;
  top: 6px;

  background: no-repeat linear-gradient(0deg, #4d0302, #4d0302),
    url("../images/check-mark.png");
  background-blend-mode: color, normal;
}

/* footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  background: linear-gradient(180deg, rgba(77, 3, 2, 0) 0%, #4D0302 100%);
} */

button {
  width: 173px;
  height: 68px;
  background: #4d0302;
  border: 1px solid #4d0302;
  box-sizing: border-box;
  border-radius: 8px;
  font-family: "Inconsolata";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 25px;
  text-align: center;

  color: #fff6d6;
}

.vButton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
